html
	head
		title= "Blog - All Posts"
		link(rel='stylesheet', href='main.css')
	body
		div
			h1 Hi #{currentUser.firstName}! 
			a(href="ownposts") View your own posts
			br
			a(href="logout") Logout
			br
			h2 How are you?
			table(class="formtable")
				form(method='post', action= '/allposts')
					tr
						td
							label Your mood: 
						td
							input(name='title', type='text', id='title', placeholder = 'Your mood' required)
					tr
						td
							label Your message to the world: 
						td
							input(name='body', type='text', id='body', placeholder = 'Share your thoughts!' required)
					tr
						td
							input(type='Submit', value='Submit', class='button')
			br
			h2 All posts
			each thing in data.reverse()
				h3#showTitle #{thing.title}
				h4#showUser Posted by #{thing.user.firstName}
				//- STILL TO GO FROM USER ID TO USER
				p#showBody #{thing.body}
				a(href="viewsinglepost?message=" + encodeURIComponent("wth how do i get this post id to transfer!!")) View this post
				//- leuke gedachte 1 "meesturen van postId in de data"--> a(href="viewsinglepost?id=" + encodeURIComponent( postId ) ) View this post
				//- leuke gedachte 2 "hier oproepen van het id" --> a(href="viewsinglepost?id=" + #{thing.id} ) View this post
				br
				br
