html
	head
		title= "Blog - All Posts"
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
		link(type="text/css" rel="stylesheet" href="materialize-css/dist/css/materialize.min.css"  media="screen,projection")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='main.css')
	body
		div
			h1 Hi #{currentUser.firstName}! 
			a(href="ownposts") View your own posts
			br
			a(href="logout") Logout
			br
			h2 How are you?
			table(class="formtable")
				form(method='post', action= '/allposts')
					tr
						td
							label Your mood: 
						td
							select(name='title', id='title')
								option(value='Happy') Happy
								option(value='Excited') Excited
								option(value='Scared') Scared
								option(value='Sad') Sad
								option(value='Angry') Angry
								option(value='Anxious') Anxious

					tr
						td
							label Your message to the world: 
						td
							input(name='body', type='text', id='body', placeholder = 'Share your thoughts!' required)
					tr
						td
							input(type='Submit', value='Post', class='button')
			br
			h2 All posts
			each thing in data.reverse()
				//- Is the reverse working????
				h3#showTitle #{thing.title}
				h4#showUser Posted by #{thing.user.firstName} on #{thing.updatedAt}
				//- STILL TO GO FROM USER ID TO USER
				p#showBody #{thing.body}
				//- a(href="viewsinglepost") View this post (postId = #{thing.id})
				//- leuke gedachte 1 "meesturen van postId in de data"--> a(href="viewsinglepost?id=" + encodeURIComponent( postId ) ) View this post
				p Comments: #{thing.comments.length}
				a(href="viewsinglepost?id=" + thing.id ) View this post
				br
				br
